.index-title {
	
	text-align:center;

	h1 {

		font-family: Helvetica Neue , Helvetica, Arial, sans-serif;
		font-size: 9em;
		font-weight: strong;
		color: #fff;

	}

}

.searcher {

	text-align:center;

	.tag {

		color: #fff;
		font-size: 4em;
		display:block;
		padding-top: 75px

	}

}

.search {
	
	margin-top: 75px;
	padding: 18px 54px 18px 18px !Important;
	font-size: 3em;

}