<div class="row">

	<div class="four columns centered index-title">
	
		<h1>Is It<br>Vegan?</h1>

	</div>


</div>


<div class="row">

	<div class="ten mobile-four columns centered searcher">

		<input class="search ten mobile-four" name="userSearch" id="userSearch">

	</div>

</div>


<div class="row">

	<div class="eight mobile-four columns centered searcher">

		<span class="tag">A simple way to search food, products and more.</span>

	</div>

</div>